* {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

body, html {
    background-color: #15171B;
}

.todo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #8FFF00;   
    border: 1px solid #8FFF00;
    border-radius: 9px;
    padding: 1rem;
    margin: 1rem 0 0 0;
    width: 20rem;
    max-width: 20rem;
    background-color: #1E1E1E;
}

h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 1rem;
}

.btn {
    color: #15171B;
    background-color: #8FFF00;
    padding: 9px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    margin: 9px 0 0 0 ;   
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    max-width: 20rem;
    background-color: #1E1E1E;
    color: #8FFF00;
    border: 1px solid #8FFF00;
    border-radius: 9px;
    padding: 1rem;
    margin: 1rem 0 0 0;
}

